* {
    margin: 0;
    padding: 0;
}

.navigation {
    display: flex;
    width: 100%;
    height: 80px;
    background: #65B268;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #EBE6F5;
    justify-content: space-around;
}

.navigation ul{
    display: flex;
    gap: 40px;
}

.navigation u l, 
li,
a{
    color: #EBE6F5;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;
    margin-top: 15px;
}    

.logoimage{
    width: auto;
    height: auto;
    padding: 15;
    display: flex;
}

.banner-container {
    display: flex;
    width: 100%;
    background: #407942;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #ebe6f5;
}

.banner-items{
    display: flex 1
    ;
}